<%= form_for(@equipment_checkout) do |f| %>
  <% if @equipment_checkout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equipment_checkout.errors.count, "error") %> prohibited this equipment_checkout from being saved:</h2>

      <ul>
      <% @equipment_checkout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="panel panel-default">
      <div class="panel-heading"><h4>New Equipment Checkout Form

        <p id="demo"></p>
      </h4>
      </div>
      <div class="panel-body">
        <form>

          <div class="field">
            <%= f.label :equipmeent_id, "Select an Equipment", :class => 'control-label' %><br>
            <%= f.collection_select (:equipmeent_id, Equipmeent.where.(equipment_status_id == "1"), :id, :eq_desc, { prompt: "Select" }, :class => 'form-control' )%><br>
          </div>
          <div class="field">
            <%= f.label :customer_id, "Select Client", :class => 'control-label' %><br>
            <%= collection_select :equipment_checkout, :customer_id, Customer.all.collect { |f| [ f.id, "#{f.c_first_name} #{f.c_last_name}" ] }, :first, :last, { prompt: "Select" }, :class => 'form-control' %><br>
          </div>
          <div class="field">
            <%= f.label :checkout_date, "Check-Out Date", :class => 'control-label' %><br>
            <%= f.date_select :checkout_date, :class => 'form-control' %><br>
          </div>
          <div class="field">
            <%= f.label :checkin_date, "Check-In Date", :class => 'control-label' %><br>
            <%= f.date_select :checkin_date, :class => 'form-control' %><br>
          </div>
          <div class="field">
            <%= f.label :equipment_status_id, "Status", :class => 'control-label' %><br>
            <%= f.collection_select :equipment_status_id, EquipmentStatus.all, :id, :equipment_status, { prompt: "Select" }, :class => 'form-control' %><br>
          </div><br>
          <div class="actions">
            <%= f.submit %>
          </div>
<% end %>
<br>




</form>


</div>
</div>

