<p id="notice"><%= notice %></p>
<h1>Class Schedule</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <p id="notice"><%= notice %></p>


    <%= form_tag program_schedules_path, :method => 'get' do %>
        <div class="col-xs-4 ">
          <div class="input-group">
            <%= text_field_tag :search, params[:search], :placeholder => "Find class", :class => "form-control" %>
            <span class="input-group-btn">
             <%= submit_tag "Go", :name => nil, :class => "btn btn-default" %>
          </span>
          </div><!-- /input-group -->
        </div>
        <% end %><%= link_to "Advanced Search", new_csearch_path, :class=>"btn btn-default" %><br>
    <br><br>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Class</th>
          <th>Instructor</th>
          <th>Date</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Classroom</th>
          <th>Class Size</th>

          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <% @program_schedules.each do |program_schedule| %>
            <tr>
              <td><%= program_schedule.program.program_description %></td>
              <td><%= program_schedule.instructor.instructor_full_name %></td>
              <td><%= program_schedule.date.strftime("%A, %m/%d/%Y") rescue "" %></td>
              <td><%= program_schedule.start.strftime("%I:%M%p") rescue "" %></td>
              <td><%= program_schedule.end.strftime("%I:%M%p") rescue "" %></td>
              <td><%= program_schedule.classroom.classroom_description%></td>
              <td><%= program_schedule.class_size %></td>
              <td><%= link_to 'Enroll', new_program_roster_path(:program_schedule_id => program_schedule.id), :class=> "btn btn-success btn-sm"%></td>
              <td><%= link_to 'Show', program_schedule, :class=> "btn btn-info btn-sm" %></td>
              <td><%= link_to 'Edit', edit_program_schedule_path(program_schedule), :class=> "btn btn-warning btn-sm" %></td>
              <td><%= link_to 'Delete', program_schedule, method: :delete, data: { confirm: 'Are you sure?' }, :class=> "btn btn-danger btn-sm" %></td>
            </tr>
        <% end %>
        </tbody>
      </table>


      <br>

      <%= link_to 'New Program schedule', new_program_schedule_path, :class=>"btn btn-default" %>
    </div>













  </div>
</div>


