<p id="notice"><%= notice %></p>
<h1>Private Lesson Schedule</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <p id="notice"><%= notice %></p>


    <%= form_tag customers_path, :method => 'get' do %>
        <div class="col-xs-4 ">
          <div class="input-group">
            <%= text_field_tag :search, params[:search], :placeholder => "Find client", :class => "form-control" %>
            <span class="input-group-btn">
             <%= submit_tag "Go", :name => nil, :class => "btn btn-default" %>
          </span>
          </div><!-- /input-group -->
        </div>
        <% end %><%= link_to "Advanced Search", new_csearch_path, :class=>"btn btn-default" %><br>
    <br><br><%= link_to 'New Private Lesson', new_private_lesson_path, :class=>"btn btn-default" %>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Instructor</th>
          <th>Customer</th>
          <th>Date</th>
          <th>Time</th>
          <th>Cost</th>
          <th>Classroom</th>

          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <% @private_lessons.each do |private_lesson| %>
            <tr>
              <td><%= private_lesson.instructor.instructor_full_name rescue "" %></td>
              <td><%= private_lesson.customer.customer_full_name rescue "" %></td>
              <td><%= private_lesson.date.strftime("%A, %m/%d/%Y") rescue ""  %></td>
              <td><%= private_lesson.time.strftime("%I:%M%p") rescue "" %></td>
              <td><%= private_lesson.cost %></td>
              <td><%= private_lesson.classroom_id %></td>
              <td><%= link_to 'More Details', private_lesson, :class=> "btn btn-info btn-sm" %></td>
              <td><%= link_to 'Edit', edit_private_lesson_path(private_lesson), :class=> "btn btn-warning btn-sm" %></td>
              <td><%= link_to 'Delete', private_lesson, method: :delete, data: { confirm: 'Are you sure?' }, :class=> "btn btn-danger btn-sm" %></td>
            </tr>
        <% end %>
        </tbody>
      </table>


      <br>


    </div>













  </div>
</div>


