<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="panel panel-default">
      <div class="panel-heading"><h4>New Employee Form

        <p id="demo"></p>
      </h4>
      </div>
      <div class="panel-body">
        <form>

          <div class="field">
            <%= f.label :e_first_name, "First Name", :class => 'control-label' %><br>
            <%= f.text_field :e_first_name, :class => 'form-control' %><br>
          </div>
          <div class="field">
            <%= f.label :e_last_name, "Last Name", :class => 'control-label' %><br>
            <%= f.text_field :e_last_name, :class => 'form-control' %><br>
          </div>
          <div class="field">
            <%= f.label :address, "Address", :class => 'control-label' %><br>
            <%= f.text_area :address, :class => 'form-control' %><br>
          </div>
          <div class="field">
            <%= f.label :phone, "Best Phone Number", :class => 'control-label' %><br>
            <%= f.text_field :phone, :class => 'form-control' %><br>
          </div>
          <div class="field">
            <%= f.label :email, "Email Address", :class => 'control-label' %><br>
            <%= f.text_field :email, :class => 'form-control' %><br>
          </div>
          <div class="field">
            <%= f.label :manager_id, "Manager", :class => 'control-label' %><br>
            <%= f.number_field :manager_id, :class => 'form-control' %><br>
          </div>
          <div class="actions">
            <%= f.submit %>
          </div>
<% end %>
<br>




</form>


</div>
</div>
