<%= form_for(@equipmeent) do |f| %>
  <% if @equipmeent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equipmeent.errors.count, "error") %> prohibited this equipmeent from being saved:</h2>

      <ul>
      <% @equipmeent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :eq_desc %><br>
    <%= f.text_field :eq_desc %>
  </div>
  <div class="field">
    <%= f.label :rental_price %><br>
    <%= f.text_field :rental_price %>
  </div>
  <div class="field">
    <%= f.label :equipment_status_id %><br>
    <%= f.number_field :equipment_status_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
