<h3><i class="glyphicon glyphicon-dashboard"></i> YogiTrack Dashboard</h3>
<hr>
<div class="container">
  <div class="row">
    <div class="col-sm-3 col-md-3">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-user">
                            </span> Clients</a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              <table class="table">
                <tr>
                  <td>
                    <%= link_to "View Clients", customers_path %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <%= link_to "Add New Client", new_customer_path %>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-calendar">
                            </span>Classes</a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <table class="table">
                <tr>
                  <td>
                    <%= link_to "View Class Schedule", program_schedules_path %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <%= link_to "Enroll Students", new_program_roster_path %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <%= link_to "View Enrollment", program_rosters_path %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <%= link_to "Add New Class", new_program_schedule_path %>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-calendar">
                            </span>Private Lessons</a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <table class="table">
                <tr>
                  <td>
                    <%= link_to "View Private Lessons", private_lessons_path %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <%= link_to "Add New Private Lesson", new_private_lesson_path %>
                  </td>
                </tr>
                <tr>
              </table>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-credit-card">
                            </span>Equipment Checkout</a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
              <table class="table">
                <tr>
                  <td>
                    <%= link_to "View All Equipments", equipmeents_path %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <%= link_to "New Equipment Checkout", new_equipment_checkout_path %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <%= link_to "Equipments Checked Out", equipment_checkouts_path %>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><span class="glyphicon glyphicon-user">
                            </span>All Employees</a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
              <table class="table">
                <tr>
                  <td>
                    <%= link_to "View Employees", employees_path %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <%= link_to "View Instructors", instructors_path %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <%= link_to "View Managers", managers_path %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <%= link_to "New Employee", new_employee_path %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <%= link_to "New Instructor", new_instructor_path %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <%= link_to "New Manager", new_manager_path %>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix"><span class="glyphicon glyphicon-file">
                            </span>Reports</a>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse">
            <div class="panel-body">
              <table class="table">
                <tr>
                  <td>
                    <%= link_to "Class Enrollment", program_rosters_path %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <%= link_to "Search For Clients", new_equipment_path %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <%= link_to "Equipments", new_equipment_path %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <%= link_to "Equipments", new_equipment_path %>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-md-9">
      <div class="col-md-12">

        <div class="panel panel-default">
          <div class="panel-heading"><h4>Today's Sessions:

            <p id="demo"></p>
            <script>
              document.getElementById("demo").innerHTML = Date();
            </script>
          </h4>
          </div>
          <div class="panel-body">

            <table class="table">
              <thead class="thead-inverse">
              <tr>
                <th>Class</th>
                <th>Duration</th>
                <th>Instructor</th>
                <th>Classroom</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th><a href="http://www.jquery2dotnet.com">JY Flow Wakeup</a></th>
                <td>7:30 AM - 8:30 AM</td>
                <td><a href="http://www.jquery2dotnet.com">Billy Henry</a></td>
                <td>1</td>
              </tr>
              <tr>
                <th><a href="http://www.jquery2dotnet.com">JY Flow</a></th>
                <td>9:00 AM - 10:15 AM</td>
                <td><a href="http://www.jquery2dotnet.com">Margaret Long</a></td>
                <td>2</td>
              </tr>
              <tr>
                <th><a href="http://www.jquery2dotnet.com">Gentle Yoga</a></th>
                <td>10:30 AM - 11:30 AM</td>
                <td><a href="http://www.jquery2dotnet.com">Pamela Adams</a></td>
                <td>3</td>
              </tr>
              <tr>
                <th><a href="http://www.jquery2dotnet.com">30 Day Challenge</a></th>
                <td>11:45 AM - 12:15 PM</td>
                <td><a href="http://www.jquery2dotnet.com">Ruth Sullivan</a></td>
                <td>1</td>
              </tr>
              <tr>
                <th><a href="http://www.jquery2dotnet.com">Meditation</a></th>
                <td>12:00 PM - 1:00 PM</td>
                <td><a href="http://www.jquery2dotnet.com">	Albert Rodriguez</a></td>
                <td>2</td>
              </tr>
              <tr>
                <th><a href="http://www.jquery2dotnet.com">JY Flow</a></th>
                <td>1:15 PM - 2:30 PM</td>
                <td><a href="http://www.jquery2dotnet.com">Ruth Sullivan</a></td>
                <td>3</td>
              </tr>
              <tr>
                <th><a href="http://www.jquery2dotnet.com">JY Power Flow</a></th>
                <td>4:00 PM - 5:15 PM</td>
                <td><a href="http://www.jquery2dotnet.com">Anna Andrews</a></td>
                <td>1</td>
              </tr>
              <tr>
                <th><a href="http://www.jquery2dotnet.com">Flow + Restore</a></th>
                <td>7:00 PM - 8:15 PM</td>
                <td><a href="http://www.jquery2dotnet.com">Jason Perry</a></td>
                <td>2</td>
              </tr>
              <tr>
                <th><a href="http://www.jquery2dotnet.com">Fundamentals of Yoga</a></th>
                <td>8:30 PM - 9:15 PM</td>
                <td><a href="http://www.jquery2dotnet.com">Anna Andrews</a></td>
                <td>2</td>
              </tr>
              </tbody>
            </table>
          </div><!--/panel-body-->
        </div><!--/panel-->

      </div>
    </div>
  </div>
</div><!-- Main -->
<div class="container">
  <!-- upper section -->
  <!--/row-->
  <!-- /upper section -->

  <!-- lower section -->
  <div class="row">

    <div class="col-md-8">
      <hr>

      <hr>

      <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        Please remember to <a href="#">Logout</a> for classified security.
      </div>


    </div>
    <!--/col-->

  </div><!--/row-->

</div><!--/container-->
<!-- /Main -->
<div class="modal" id="addWidgetModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Add Widget</h4>
      </div>
      <div class="modal-body">
        <p>Add a widget stuff here..</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn">Close</a>
        <a href="#" class="btn btn-primary">Save changes</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dalog -->
</div><!-- /.modal -->



