<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :c_first_name %><br>
    <%= f.text_field :c_first_name %>
  </div>
  <div class="field">
    <%= f.label :c_last_name %><br>
    <%= f.text_field :c_last_name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :emergency_phone %><br>
    <%= f.text_field :emergency_phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :membership_id %><br>
    <%= f.number_field :membership_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
