<p id="notice"><%= notice %></p>

<p>
  <strong>C first name:</strong>
  <%= @customer.c_first_name %>
</p>

<p>
  <strong>C last name:</strong>
  <%= @customer.c_last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Emergency phone:</strong>
  <%= @customer.emergency_phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Membership:</strong>
  <%= @customer.membership_id %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
