<%= form_for(@program_roster) do |f| %>
  <% if @program_roster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program_roster.errors.count, "error") %> prohibited this program_roster from being saved:</h2>

      <ul>
      <% @program_roster.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="panel panel-default">
      <div class="panel-heading"><h4>Enroll Clients Into Class(s)

        <p id="demo"></p>
      </h4>
      </div>
      <div class="panel-body">
        <form>

          <div class="field">
            <%= f.label :program_schedule_id, "Select Class", :class => 'control-label' %><br>
            <%= f.collection_select :program_schedule_id, ProgramSchedule.all.collect { |f| [ f.id, "#{f.date} #{f.start}" ] }, :first, :last, { prompt: "Select" }, :class => 'form-control' %><br>
          </div>
          <div class="field">
            <%= f.label :customer_id, "Select Client", :class => 'control-label' %><br>
            <%= collection_select :program_roster, :customer_id, Customer.all.collect { |f| [ f.id, "#{f.c_first_name} #{f.c_last_name}" ] }, :first, :last, { prompt: "Select" }, :class => 'form-control' %><br>
          </div>
          <div class="actions">
            <%= f.submit %>
          </div>
<% end %>
<br>


</form>


</div>
</div>
