<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="UTF-8" />
  <title>Joy Yoga Studio</title>
  <link rel="profile" href="http://gmpg.org/xfn/11" />

  <link rel="stylesheet" type="text/css" media="all" href="http://mokshayogastudio.com/wp-content/themes/yoga/style.css" />


  <link rel="pingback" href="http://mokshayogastudio.com/xmlrpc.php" />
  <link rel="alternate" type="application/rss+xml" title="Moksha Yoga Studio &raquo; Feed" href="http://mokshayogastudio.com/?feed=rss2" />
  <link rel="alternate" type="application/rss+xml" title="Moksha Yoga Studio &raquo; Comments Feed" href="http://mokshayogastudio.com/?feed=comments-rss2" />
  <link rel='stylesheet' id='wgpag-css'  href='http://mokshayogastudio.com/wp-content/plugins/widget-pagination/css/wgpag.css?ver=0.7.1' type='text/css' media='all' />
  <link rel='stylesheet' id='popular-widget-css'  href='http://mokshayogastudio.com/wp-content/plugins/popular-widget/_css/pop-widget.css?ver=1.0.1' type='text/css' media='all' />
  <link rel='stylesheet' id='wp-paginate-css'  href='http://mokshayogastudio.com/wp-content/plugins/wp-paginate/wp-paginate.css?ver=1.2.4' type='text/css' media='screen' />
  <script type='text/javascript' src='http://mokshayogastudio.com/wp-includes/js/jquery/jquery.js?ver=1.7.1'></script>
  <script type='text/javascript'>
    /* <![CDATA[ */
    var wgpag_options = [];
    wgpag_options = {"widgets":[{"selector":".widget_links","count":0},{"selector":".widget_categories","count":0},{"selector":".widget_archive","count":0},{"selector":".widget_recent_entries","count":0},{"selector":".widget_recent_comments","count":0},{"selector":".widget_meta","count":0},{"selector":".widget_pages","count":0}],"pages_to_show":"<? echo get_option('wgpag-pag_option_ptsh') ? get_option('wgpag-pag_option_ptsh') : 7; ?>","prev_label":"<? echo get_option('wgpag-pag_option_prev') ? get_option('wgpag-pag_option_prev') : '<'; ?>","next_label":"<? echo get_option('wgpag-pag_option_next') ? get_option('wgpag-pag_option_next') : '>'; ?>","hor_align":"left"};
    /* ]]> */
  </script>
  <script type='text/javascript' src='http://mokshayogastudio.com/wp-content/plugins/widget-pagination/js/wgpag.js?ver=0.7.1'></script>
  <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://mokshayogastudio.com/xmlrpc.php?rsd" />
  <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://mokshayogastudio.com/wp-includes/wlwmanifest.xml" />
  <meta name="generator" content="WordPress 3.3.1" />
  <script type="text/javascript">
    //<![CDATA[
    function newsletter_check(f) {
      var re = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-]{1,})+\.)+([a-zA-Z0-9]{2,})+$/;
      if (!re.test(f.elements["ne"].value)) {
        alert("Your email seems wrong, check it please.");
        return false;
      }
      if (f.elements["ny"] && !f.elements["ny"].checked) {
        alert("You must accept the privacy informative to subscribe.");
        return false;
      }
      return true;
    }
    //]]></script>
  <style type="text/css">
  </style>
  <!-- Wordpress Popular Posts v2.2.1 -->
  <link rel="stylesheet" href="http://mokshayogastudio.com/wp-content/plugins/wordpress-popular-posts/style/wpp.css" type="text/css" media="screen" />
  <!-- End Wordpress Popular Posts v2.2.1 -->
  <script type="text/javascript" src="http://mokshayogastudio.com/wp-content/themes/yoga/js/jquery-1.6.1.min.js"></script>
  <script type="text/javascript" src="http://mokshayogastudio.com/wp-content/themes/yoga/js/jquery.nivo.slider.pack.js"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#slider').nivoSlider({
        animSpeed: 500,
        pauseTime: 3000
      });
    });
  </script>
  <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body class="home blog">
<div id="wrapper" class="hfeed">

  <div class="container_12 height">
    <div class="header grid_12"><a href="localhost:3000.com" title="Joy Yoga Studio" rel="home"><img src="assets/logo.png" alt="rss feed" /></a></div>
  </div> <!-- End of container header -->

  <div class="container100 nav">
    <div class="container_12">
      <div class="grid_12 menu">
        <div class="menu-header"><ul id="menu-top_menu" class="menu"><li id="menu-item-286" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-286"></li>
          <li id="menu-item-73" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-73"><%= link_to "Class Type & Schedule", info_schedule_path %></li>
          <li id="menu-item-73" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-73"><%= link_to "Membership & Pricing", info_pricing_path %></li>
          <li id="menu-item-74" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-74"><%= link_to "Private Yoga", info_private_path %></li>
          <li id="menu-item-75" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-75"><%= link_to "Events", info_event_path %></li>
          <li id="menu-item-108" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-108"><%= link_to "Contact Us", info_contact_path %></li>
          <li id="menu-item-72" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-72"><%= link_to "Register", new_customer_path %></li>
        </ul></div>    </div>
    </div>
  </div> <!-- End of Container Menu -->


  <div id="main">




    <!-- End of container banner flash -->

    <div class="container_12">
      <div class="main">
        <div class="grid_12 title">We Offer Private Lessons</div>
        <div class="panel panel-default">
          <div class="panel-heading">
          </div>
          <div class="panel-body">
            <h4>ONSITE PRIVATE LESSON <br>
              <br>$90<br>
              Connect one-on-one with a certified, experienced yoga teachers in our private studio. Our certified yoga teachers will work with you to define your goals, assess your body, and provide a personalized practice that works for you. Onsite private yoga lessons are 75 minutes long and can include up to three people. <br><br><br>$60 <br>
              Take a communally led class with your favorite teacher and experience the connection and depth with a personal teacher through an in-class private. From start to finish, the student practices the flow with the hands-on assistance of their own private teacher. An in class private is ideal for someone who wants to deepen their exploration of the pose and refine their alignment. The teacher’s guiding hands almost never leave you throughout the private yoga session, and concludes with a deep relaxation yoga massage in savasana.
              BUY NOW </h4>

          </div><!--/panel-body-->
        </div>


        <!-- #footer-widget-area -->
      </div>
    </div>
  </div><!-- #main -->

  <div class="container100 line"></div>
  <div class="container100 footer">
    <div class="container_12">
      <div class="subfooter">
        <div class="grid_4 heightFooter"> <span>Contact Us</span>
          <ul>
            <li class="bg1">Phone: (713) 999-6921</li>
            <li class="bg2">info@joyyoga.com</li>
            <li class="bg3">4500 Washington Avenue, Suite 900, Houston, TX 77007</li>
          </ul>
        </div>
      </div>
    </div>
  </div>  <!-- End of Container footer -->


</div><!-- #wrapper -->

</body>
</html>
